body {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#board {
    background-color: hsl(0, 0%, 14%);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, auto);
    grid-template-columns: repeat(21, auto);
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}